# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/
*.code-workspace

# colcon
build/
install/
log/
/src/

# navigation.repos imports
/navigation2/
/emcl2_ros2/

# Python
*.pyc

# Jetbrains
.idea/

# rviz Screen Capture
capture/

# CodeChecker
.codechecker/

# TestCode
test