<?xml version="1.0"?>
<model>
  <name>orne_boxF</name>
  <version>1.0</version>
  <sdf version="1.9">orne_boxF.sdf</sdf>

  <author>
    <name>Kyo Yamashita</name>
    <email>teiruyamashita@icloud.com</email>
  </author>

  <description>
    Differential 2-wheel robot orne_box equipped with Hokuyo RSF-X001 sensor system.
  </description>
</model>
